body {
  font-family: 'Times New Roman', Times, serif;
}

li {
  border-radius: 6px;
}
button {
  float: right;
}
.app {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.content {
  width: 50%;
  float: right;
  margin: 60px;
}

h1 {
  background-color: #82fa9c;
  border-radius: 7px;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.done {
  text-decoration: line-through;
}